body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hidden-bg {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    scroll-behavior: hidden;
}

.main-container {
    position: relative;
    left: 24px;
    top: 24px;
    width: 77.8%;
    height: 95vh;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: var(--bradius-5);
    background: var(--color-whitesmoke);
    transition: 0.8s ease;

}

.main-container::-webkit-scrollbar {
    width: 0px;
    display: none;
}

.hidden-bg .left-menu-box {
    position: absolute;
    top: 50px;
    left: 24px;
    width: 15%;
}

.custom-bottom-nav {
    position: absolute;
    bottom: 124px !important;
}

.hidden-bg .right-item-box {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 18%;
}

.main-container.shrink {
    width: 80.8%;
    transform: translate(20.2%, 0px) translateY(0%) rotate(0deg);
    border-radius: var(--bradius-5);
}

@media only screen and (max-width:1280px) {
    .main-container.shrink {
        transform: translate(20%, 0px) translateY(0%) rotate(0deg);
    }
}

@media only screen and (max-width:1024px) {
    .main-container.shrink {
        transform: translate(20%, 0px) translateY(0%) rotate(0deg);
    }
}

@media only screen and (max-width:768px) {
    .main-container {
        width: 93.5%;
        height: 95vh;
        padding-left: 18px;
        padding-right: 18px;
        padding-bottom: 18px;
    }

    .main-container.shrink {
        width: 100%;
        transform: translate(-57%, 0px) translateY(0%) rotate(0deg);
    }

    .hidden-bg .left-menu-box {
        position: absolute;
        top: 100px;
        left: 50%;
        width: 46%;
    }

    .custom-bottom-nav {
        position: absolute;
        /* bottom: 180px !important; */
    }
}

@media only screen and (max-width:576px) {
    .main-container {
        top: 18px;
        left: 18px;
        width: 91.2%;
        height: 88.5vh;
        padding-left: 18px;
        padding-right: 18px;
        padding-bottom: 18px;
    }

    .main-container.shrink {
        width: 100%;
        transform: translate(-60%, 0px) translateY(0%) rotate(0deg);
    }

    .hidden-bg .left-menu-box {
        position: absolute;
        top: 44px;
        left: 49%;
        width: 46%;
    }

    .custom-bottom-nav {
        position: absolute;
        /* bottom: 180px !important; */
    }
}

.menu-button {
    border-radius: var(--bradius-2);
    color: var(--color-whitesmoke);
    background-color: var(--color-dark);
    transition: var(--transition-md);
}

.menu-button:hover {
    color: var(--color-whitesmoke);
    background-color: var(--color-yellowgreen-100);
    transition: var(--transition-md);
}

.menu-button.active {
    border: 1px solid var(--color-yellowgreen-100);
    color: var(--color-whitesmoke);
    background-color: var(--color-yellowgreen-100);
    transition: var(--transition-md);
}

.menu-button .icon {
    transition: var(--transition-md);
}

.menu-button.active .icon {
    transform: rotate(90deg);
    transition: var(--transition-md);
}

.nav .menu-item {
    border: 1px solid var(--color-yellowgreen-100);
    color: var(--color-whitesmoke);
    background-color: var(--color-dark);
    transition: var(--transition-md);
}

.nav .menu-item:hover {
    color: var(--color-dark);
    background-color: var(--color-yellowgreen-100);
    transition: var(--transition-md);
}

.nav .menu-item.active {
    color: var(--color-dark);
    background-color: var(--color-yellowgreen-100);
    transition: var(--transition-md);
}

.dash-user-icon {
    color: var(--color-dark);
    transition: var(--transition-md);
}

.dash-user-icon:hover {
    color: var(--color-yellowgreen-100);
    transition: var(--transition-md);
}

.dash-user-icon .affiliate-user-icon {
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
    transition: var(--transition-md);
}

.dash-user-icon .affiliate-user-icon:hover  {
    border: 1px solid var(--color-yellowgreen-100);
    color: var(--color-dark);
    transition: var(--transition-md);
}

.Participant-user-icon {
    border: 2px solid var(--color-yellowgreen-100);
}

.margin-nagative {
    margin-left: -12px;
}

/*SVG chart */
svg {
    width: 100%;
    height: auto;
}

.copy-url {
    border: 1px solid var(--color-yellowgreen-100);
}

:focus-visible {
    outline: none;
}

.chart-card {
    border: 0;
    /* border: 1px solid var(--color-yellowgreen-100); */
    border-radius: var(--bradius-5);
    background-color: var(--color-white);
}

.custom-table>:not(caption)>*>* {
    color: var(--color-dark);
    padding: 0.8rem 2rem;
    border-bottom-color: var(--color-whitesmoke) !important;
}