@charset "UTF-8";

/*!
 * Neos v2.0 (https://fortunearc.com/)
 * Copyright 2021-2024 The Fortunearc Authors
 * Copyright 2021-2024 Sabid Hasan Nabil.
 */
@font-face {
  font-family: "Facebook Sans";
  src: url("../css/fonts/FacebookSansLight.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Facebook Sans";
  src: url("../css/fonts/FacebookSansRegular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Facebook Sans";
  src: url("../css/fonts/FacebookSansBold.ttf");
  font-weight: 700;
}

:root {
  /* Colors */
  --color-whitesmoke: #EDF4D9;
  --color-yellowgreen-100: #72bf01;
  --color-yellowgreen-200: #59a600;
  --color-white: #ffffff;
  --color-dark: #081f24;
  --color-red: #d9171a;
  --color-whitesmoke-50: #EDF4D991;
  --color-send-to-100: #1FC0E7;
  --color-send-to-200: #11a4c9;
  /*rounded*/
  --bradius-1: 8px;
  --bradius-2: 12px;
  --bradius-3: 16px;
  --bradius-4: 20px;
  --bradius-5: 24px;
  --bradius-6: 28px;
  --bradius-7: 32px;
  /*transition*/
  --transition-sm: 300ms ease-in-out;
  --transition-md: 400ms ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: "Facebook Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
  background-color: var(--color-dark);
}

body::-webkit-scrollbar {
  width: 8px;
  /* display: none !important; */
}

body::-webkit-scrollbar-track {
  background: var(--color-dark);
  border-top-right-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  width: 6px;
  /* border: 1px solid var(--color-white); */
  background: var(--color-yellowgreen-100);
  border-radius: 6px;
}

/*fonts*/
.font-facebook-sans {
  font-family: "Facebook Sans", sans-serif !important;
}

.font-Baloo-2 {
  font-family: "Baloo 2", sans-serif !important;
}

/*font and background color*/
.text-whitesmoke {
  color: var(--color-whitesmoke) !important;
}

.text-whitesmoke-50 {
  color: var(--color-whitesmoke-50);
}

.background-whitesmoke {
  background-color: var(--color-whitesmoke);
}

.background-whitesmoke-50 {
  background-color: var(--color-whitesmoke-50);
}

.background-white {
  background-color: var(--color-white);
}

.text-yellowgreen-100 {
  color: var(--color-yellowgreen-100) !important;
}

.background-yellowgreen-100 {
  background-color: var(--color-yellowgreen-100) !important;
}

.text-red-100 {
  color: var(--color-red) !important;
}

.text-dark {
  color: var(--color-dark) !important;
}

.background-dark {
  background-color: var(--color-dark) !important;
}

/*custom spaching*/
.margin-top-1 {
  margin-top: 60px;
}

.margin-top-2 {
  margin-top: 80px;
}

.margin-top-3 {
  margin-top: 100px;
}

.margin-top-4 {
  margin-top: 120px;
}

.margin-top-5 {
  margin-top: 160px;
}

.margin-top-6 {
  margin-top: 200px;
}

@media (min-width: 768px) {
  .margin-md-top-1 {
    margin-top: 60px;
  }

  .margin-md-top-2 {
    margin-top: 80px;
  }

  .margin-md-top-3 {
    margin-top: 100px;
  }

  .margin-md-top-4 {
    margin-top: 120px;
  }

  .margin-md-top-5 {
    margin-top: 160px;
  }

  .margin-md-top-6 {
    margin-top: 200px;
  }
}

@media (min-width: 992px) {
  .margin-lg-top-1 {
    margin-top: 60px;
  }

  .margin-lg-top-2 {
    margin-top: 80px;
  }

  .margin-lg-top-3 {
    margin-top: 100px;
  }

  .margin-lg-top-4 {
    margin-top: 120px;
  }

  .margin-lg-top-5 {
    margin-top: 160px;
  }

  .margin-lg-top-6 {
    margin-top: 200px;
  }
}

/*custom buttons*/
.nav-button {
  font-size: 18px;
  font-family: "Baloo 2" sans-serif;
  font-weight: 400;
  padding: 8px 20px;
  border-radius: var(--bradius-3);
  color: var(--color-dark);
  background-color: var(--color-yellowgreen-100);
  transition: var(--transition-sm);
}

.nav-button:hover {
  color: var(--color-whitesmoke);
  background-color: var(--color-yellowgreen-200);
  transition: var(--transition-sm);
}

.nav-outline-button {
  font-size: 18px;
  font-family: "Baloo 2" sans-serif;
  font-weight: 400;
  padding: 8px 20px;
  border: 1px solid rgb(114, 191, 1, 0.8);
  border-right: 1px solid rgb(114, 191, 1, 0.5);
  border-bottom: 1px solid rgb(114, 191, 1, 0.5);
  border-radius: var(--bradius-3);
  color: var(--color-yellowgreen-100);
  background-color: var(--color-dark);
  transition: var(--transition-md);
}

.nav-outline-button:hover {
  color: var(--color-dark);
  background-color: var(--color-yellowgreen-100);
  transition: var(--transition-md);
}

.primary-button {
  font-size: 18px;
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 12px 24px;
  border-radius: var(--bradius-3);
  color: var(--color-whitesmoke);
  background-color: var(--color-yellowgreen-100);
  transition: var(--transition-sm);
}

.primary-button:hover {
  color: var(--color-whitesmoke);
  background-color: var(--color-yellowgreen-200);
  transition: var(--transition-sm);
}

.send-to-button {
  font-size: 18px;
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 12px 24px;
  border-radius: var(--bradius-3);
  color: var(--color-whitesmoke);
  background-color: var(--color-send-to-100);
  transition: var(--transition-sm);
}

.send-to-button:hover {
  color: var(--color-whitesmoke);
  background-color: var(--color-send-to-200);
  transition: var(--transition-sm);
}

.outline-button {
  font-size: 18px;
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 24px;
  border: 1px solid rgb(114, 191, 1, 0.8);
  border-right: 1px solid rgb(114, 191, 1, 0.5);
  border-bottom: 1px solid rgb(114, 191, 1, 0.5);
  border-radius: var(--bradius-3);
  color: var(--color-yellowgreen-100);
  background-color: var(--color-dark);
  transition: var(--transition-md);
}

.outline-button:hover {
  color: var(--color-dark);
  background-color: var(--color-yellowgreen-100);
  transition: var(--transition-md);
}

.back-top-button {
  padding: 8px 12px;
  border-radius: var(--bradius-3);
  background-color: var(--color-yellowgreen-100);
  transition: var(--transition-sm);
}

.back-top-button:hover {
  background-color: var(--color-yellowgreen-200);
  transition: var(--transition-sm);
}

/*custom cards*/
.custom-card-1 {
  /* padding: 24px; */
  border: 1px solid rgb(114, 191, 1, 1);
  border-right: 1px solid rgb(114, 191, 1, 0.7);
  border-bottom: 1px solid rgb(114, 191, 1, 0.7);
  border-radius: var(--bradius-5);
  background-color: rgb(8, 31, 36, 0.2);
  /* background-color: #ffffff; */
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  z-index: 9;
}

.blog-card {
  border: 1px solid rgb(114, 191, 1, 1);
  border-right: 1px solid rgb(114, 191, 1, 0.7);
  border-bottom: 1px solid rgb(114, 191, 1, 0.7);
  border-radius: var(--bradius-5);
  background-color: var(--color-dark);
}

.ai-input-card {
  padding: 4px;
  border: 1px solid var(--color-yellowgreen-100);
  background-color: var(--color-white);
}

.footer-background-card {
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}

.footer-card {
  border: 1px solid #73bf014f;
  background-color: var(--color-dark);
}

/*custom border radious*/
.bradius-1 {
  border-radius: var(--bradius-1) !important;
}

.bradius-2 {
  border-radius: var(--bradius-2) !important;
}

.bradius-3 {
  border-radius: var(--bradius-3) !important;
}

.bradius-4 {
  border-radius: var(--bradius-4) !important;
}

.bradius-5 {
  border-radius: var(--bradius-5) !important;
}

.bradius-6 {
  border-radius: var(--bradius-6) !important;
}

.bradius-7 {
  border-radius: var(--bradius-7) !important;
}

/*font size*/
.section-heading-1 {
  font-size: 36px;
  letter-spacing: 1px;
  cursor: pointer;
}

.section-heading-2 {
  font-size: 32px;
  letter-spacing: 1px;
  cursor: pointer;
}

.blog-title {
  font-size: 28px;
  letter-spacing: 1px;
}

.section-description {
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}

.description {
  font-size: 17px;
  letter-spacing: 1px;
}
.message-description {
  letter-spacing: 1px;
}

.affiliate-highlight {
  font-size: 24px;
  letter-spacing: 1px;
}

.affiliate-about-des {
  font-size: 18px;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .section-heading-md-1 {
    font-size: 48px;
    letter-spacing: 1px;
  }

  .section-heading-md-2 {
    font-size: 40px;
    letter-spacing: 1px;
  }
}

@media (min-width: 992px) {
  .section-heading-lg-1 {
    font-size: 56px;
    letter-spacing: 1px;
    line-height: 80px;
  }

  .section-heading-lg-2 {
    font-size: 48px;
    letter-spacing: 1px;
    line-height: 64px;
  }

  .blog-title-lg {
    font-size: 32px;
    letter-spacing: 1px;
  }
}

/*sign up*/
.signin-asset {
  height: 350px;
}

.signup-asset {
  height: 400px;
}

@media (max-width: 768px) {
  .signin-asset {
    height: 200px;
  }

  .signup-asset {
    height: 240px;
  }
}

.custom-link {
  color: var(--color-whitesmoke);
}

.custom-link:hover {
  color: var(--color-yellowgreen-100);
}

/*navbar*/
.nav-bradius {
  border-bottom-left-radius: var(--bradius-3);
  border-bottom-right-radius: var(--bradius-3);
}

.navbar-nav .nav-link {
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--color-whitesmoke);
}

.navbar-nav .nav-link:hover {
  color: var(--color-yellowgreen-100);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--color-yellowgreen-100);
}

/*hero section*/
.custom-container {
  position: relative;
}

.hero-top-left-asset {
  position: absolute;
  top: -70px;
  left: 10%;
}

.hero-top-right-asset {
  position: absolute;
  top: -24px;
  right: 10%;
  rotate: 8deg;
  z-index: 1;
}

@media (max-width: 768px) {
  .hero-top-right-asset {
    position: absolute;
    top: -46px;
    right: 0%;
    rotate: 8deg;
    z-index: 1;
  }
}

.content-box {
  position: relative;
}

.hero-bottm-left-asset {
  position: absolute;
  bottom: -40px;
  left: 0%;
  rotate: -8deg;
}

.ai-demo-card {
  width: 340px;
  border-radius: var(--bradius-3);
  background-color: var(--color-yellowgreen-100);
}

.ai-demo-card p {
  font-size: 18px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .hero-bottm-left-asset {
    bottom: 90px;
    left: 2%;
  }

  .ai-demo-card {
    width: 260px;
  }

  .ai-demo-card p {
    font-size: 16px;
  }
}

.hero-bottm-right-asset {
  position: absolute;
  bottom: -70px;
  right: 0;
}

/*converter section*/
.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-radius: var(--bradius-3);
}

.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-radius: var(--bradius-3);
}

.form-control:disabled {
  background-color: var(--color-whitesmoke);
  opacity: 1;
  margin: 0 4px;
}

.form-control:focus {
  box-shadow: none;
}

.pdf-box {
  position: relative;
}

.pdf-box-overlay {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(#ffffff00, #ffffff);
  z-index: 8;
}

.background-pdf-img {
  aspect-ratio: 21/8;
  opacity: .7;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*pdf preview*/
.pdf-preview-embed {
  width: 100%;
  height: 400px;
  border: none;
}

.pdf-container {
  width: 100%;
  height: 400px;
  overflow: auto;
  /* Adds scrollbars if necessary */
}

@media (max-width: 768px) {
  .pdf-preview-embed {
    height: 300px;
  }

  .pdf-container {
    height: 300px;
  }

  .pdf-box-overlay {
    border-radius: var(--bradius-1);
  }
}

/*Bank Section*/
.custom-bg {
  position: relative;
}

.background-color {
  position: absolute;
  top: 2px;
  left: 0;
  z-index: -999 !important;
}

.background-color-2 {
  position: absolute;
  top: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -999 !important;
}

.background-color-3 {
  position: absolute;
  top: 2px;
  right: 0;
  z-index: -999 !important;
}

@media (max-width: 768px) {
  .background-color {
    left: 10px;
  }

  .background-color-3 {
    right: 10px;
  }
}

/*logo slider*/
.logo-carousel {
  display: flex;
  overflow-x: scroll;
}

.logo-carousel::-webkit-scrollbar {
  display: none;
}

.logo-item img {
  opacity: 0.3;
}

/*bank card slider*/
.bank-carousel-box {
  position: relative;
  height: 600px;
  rotate: 8deg;
}

.carousel-bt-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 311px;
}

.carousel-tb-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 311px;
}

@media (max-width: 768px) {
  .carousel-bt-box {
    width: 155px;
  }

  .carousel-tb-box {
    width: 155px;
  }

  .bank-carousel-box {
    position: relative;
    height: 400px;
    rotate: 8deg;
    overflow: hidden;
  }
}

.bank-carousel-card {
  border-color: #73bf0137;
  border-radius: var(--bradius-3);
  background-color: var(--color-dark);
}

/*Slick*/
.top-bottom-container .slick-slider {
  transform: rotate(180deg);
}

.top-bottom-container .slick-slide {
  transform: rotate(-180deg);
}

/*testimonial section*/
.testimonial-card {
  aspect-ratio: 16/10;
  width: auto !important;
  border: 1px solid var(--color-yellowgreen-100);
  border-radius: var(--bradius-5);
}

.testimonial-card p {
  font-size: 18px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 768px) {
  .testimonial-card {
    aspect-ratio: 16/13;
  }

  .testimonial-card p {
    font-size: 17px;
  }
}

.user-icon {
  height: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/*faq*/
.faq-question {
  border: 1px solid var(--color-yellowgreen-100);
  padding: 16px;
  background-color: var(--color-dark);
  transition: var(--transition-md);
  cursor: pointer;
}


.faq-answer {
  display: none;
  padding: 16px;
  background-color: #73bf0127;
  transition: height 0.5s, padding 0.5s, margin-top 0.5s;
}

.faq-question.active {
  border: 1px solid var(--color-yellowgreen-100);
  background-color: var(--color-dark);
  transition: height 0.5s, padding 0.5s, margin-top 0.5s;
}

.faq-icon img {
  transition: transform 0.3s ease;
}

.faq-question.active .faq-icon img {
  transform: rotate(45deg);
}

/*footer*/
.footer-link {
  text-decoration: none;
  color: var(--color-whitesmoke-50);
  letter-spacing: 1px;
}

.footer-link:hover {
  color: var(--color-yellowgreen-100);
}

.footer-input-email {
  margin-right: 5px;
}

/*back to top button*/
#back-to-top {
  position: fixed;
  bottom: 24px;
  left: 24px;
  display: none;
}

/*Pricing*/
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: var(--color-dark) !important;
  background-color: var(--color-yellowgreen-100);
}

.my-toggle {
  border: 1px solid var(--color-yellowgreen-100);
  padding: 4px;
  border-radius: var(--bradius-4);
  background-color: var(--color-dark);
}

/*Pagination*/
.page-link:focus {
  color: var(--color-dark);
  background-color: var(--color-yellowgreen-100);
}

.page-link:hover {
  border-color: var(--color-yellowgreen-100);
}

.page-item:first-child .page-link {
  border-radius: var(--bradius-3) !important;
}

.page-item:last-child .page-link {
  border-radius: var(--bradius-3) !important;
}

/*Support page*/
.form-check-custom {
  position: relative;
  padding: 0px;
  margin: 0px;
}
.input-custom {
  position: absolute;
  background-color: var(--color-whitesmoke);
  border-color: var(--color-yellowgreen-100);
  height: 24px;
  width: 24px;
  bottom: 18px;
  right: 18px;
}
.input-custom:checked {
  background-color: var(--color-yellowgreen-100);
  border-color: var(--color-yellowgreen-100);
}

.input-custom:focus {
  border-color: var(--color-yellowgreen-100);
  box-shadow: 0 0 0 0.25rem #73bf0136;
}
